.center {
    text-align: center;
}

.center :hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.closeModal {
    cursor: pointer;
    text-align: right;
}

.loginTitle {
    color: white;
}

.optionSelected {
    border: 4px solid rgb(45, 128, 45);
}